.current-card {
    width: 200px;
    height: 400px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.current-card.empty .square {
    display: none;
}

.current-card:not(.empty) .message {
    display: none;
}

.current-card .square {
    width: 90%;
    height: 42.5%;
}

.current-card:not(.double) .square:last-child {
    display: none;
}

.current-card.red .square {
    background-color: #e36279;
}
.current-card.orange .square {
    background-color: #e48420;
}
.current-card.yellow .square {
    background-color: #dbc94c;
}
.current-card.green .square {
    background-color: #5cb585;
}
.current-card.blue .square {
    background-color: #3793e0;
}
.current-card.purple .square {
    background-color: #8c5f96;
}

.deck-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}